@import "~assets/scss/colors";

#app {
  height: 100vh;
  overflow: scroll;

  header {
    padding: 10px 30px;
    padding-bottom: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid $grey;
    background-color: $black;
    color: $white;
    font-weight: bold;
  }

  .chart-wrapper {
    background-image: url('~assets/img/bg.png');
    padding: 500px;
    display: inline-block;
  }
}
